
@import url("grid_framework.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700,100,200");
@import url("border_important.css"); /* */

* {
    font-family: 'Lato', sans-serif;
}

img.header {
    width: 50%;
    margin: 20px;
}
h1.header {
    color: #747704;
    font-weight: 300;
    text-align: right;
    margin-right: 2%;
    margin-bottom: 0;
}
p.header {
    color: #747704;
    font-weight: 400;
    text-align: right;
    margin-top: 0;
    margin-right: 2%;
}
hr {
    color: $bcbbbb;
}
img.big-image {
    width: 100%;
}

img.featured-work {
    max-width: 100%;
    padding: 2%;
}
h2.featured-work {
    color: #bcbbbb;
    font-weight: 400;
    text-align: left;
}
h3.featured-work {
    color: #747704;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
div.featured-work {
    margin: auto;
}
a.featured-work {
    color: #747704;
    margin: auto;
}

@media only screen {
    div.page { max-width: 1000px; }
    div.header { width: 100%; }
    div.header-logo { width: 20%; }
    div.header-logo img {
        width: 50%;
        margin: 20%;
    }
    div.header-text { width: 80%; }
    div.header-text h1 {
        width: 80%; 
    }
    div.header-text p {
        width: 80%; 
    }
    img.big-image { width: 100%; padding: 2%; }
    div.featured-work { width: 100%; } 
    div.featured-tile { width: 33.3333%; }
    h1.header { font-size: 54px; }
    p.header { font-size: 18px; }
    h2.featured-work { font-size: 30px; }
    h3.featured-work { font-size: 30px; }
    a.featured-work { font-size: 12px; }
}
@media only screen and (max-width: 720px) {
    h1.header { font-size: 40px; }
    p.header { font-size: 12px; }
    h2.featured-work { font-size: 26px; }
    h3.featured-work { font-size: 26px; }
    a.featured-work { font-size: 10px; }
}

@media only screen and (max-width: 600px) {
    h1.header { font-size: 36px; }
    p.header { font-size: 12px; }
    h2.featured-work { font-size: 22px; }
    h3.featured-work { font-size: 14px; }
    div.featured-work { width: 100%; }
    a.featured-work { visibility: hidden; }
}

@media only screen and (max-width: 400px) {
    div.featured-tile { width: 100%; }
    h1.header { font-size: 36px; }
    p.header { font-size: 12px; }
    h2.featured-work { font-size: 22px; }
    h3.featured-work { font-size: 14px; }
    div.featured-work { width: 100%; }
    a.featured-work { visibility: hidden; }
}

