

/* enable/disable border outlining
/* .important { border: 2px solid red !important; }  /* */

/*
  Lato font seems close to the one on the portfolio mock-up
*/
@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700,100,200");

* { font-family: 'Lato', sans-serif; }

/*
  box-sizing simplifies box arithmetic by including border and
  padding in the box dimensions
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

div.box {
    width: 100%;
    margin: 0;
    padding: 10px;
}


div.page {
    max-width: 1000px;
}

div.header {
    display: flex;           /* Chrome 29+, IE 11+, Mozilla 28+ */
    display: -webkit-flex;   /* Safari */
    flex-wrap: wrap; /* */
}

div.header-logo {
    width: 20%;
}

div.header-logo img {
    width: 100%;
    margin: 0;
    padding: 15%;
}

div.header-text {
    width: 80%;
}

div.header-text h1 {
    color: #747704;
    font-weight: 300;
    text-align: right;
    margin-bottom: 1%;
}
div.header-text p {
    color: #747704;
    font-weight: 400;
    text-align: right;
    margin-top: 1%;
}

img.big-image {
    width: 100%;
}

div.featured-work {
    width: 100%;
}

div.featured-work h2 {
    color: #bcbbbb;
    font-weight: 400;
    text-align: left;
}

div.featured-tiles {
    display: flex;           /* Chrome 29+, IE 11+, Mozilla 28+ */
    display: -webkit-flex;   /* Safari */
    flex-wrap: wrap;
}

div.featured-tile {
    width: 32.3333%;
    margin: 0.5%;
}

div.featured-tile a {
    color: #747704;
    margin: auto;
}

div.featured-tile img {
    max-width: 100%;
}

div.featured-tile h3 {
    color: #747704;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 5%;
}

/*
  Ok, I know this is against the rules ;-)
  I found that the following format made it easy to see
  what the breakpoints were and how the associated size
  settings compared to each other.
*/

@media only screen {
    div.header h1 { font-size: 54px; }
    div.header p { font-size: 18px; }
    div.featured-work h2 { font-size: 30px; }
    div.featured-tile h3 { font-size: 30px; }
    div.featured-tile a { font-size: 12px; }
}

@media only screen and (max-width: 800px) {
    div.header-text h1 { font-size: 44px; }
    div.header-text p { font-size: 15px; }
    div.featured-work h2 { font-size: 28px; }
    div.featured-tile h3 { font-size: 26px; }
    div.featured-tile a { font-size: 10px; }
}

@media only screen and (max-width: 700px) {
    div.header-text h1 { font-size: 40px; }
    div.header-text p { font-size: 12px; }
    div.featured-work h2 { font-size: 26px; }
    div.featured-tile h3 { font-size: 22px; }
    div.featured-tile a { font-size: 10px; }
}

@media only screen and (max-width: 600px) {
    div.header-logo { width: 30%; }
    div.header-text { width: 70%; }
    div.header-text h1 { font-size: 36px; }
    div.header-text p { font-size: 12px; }
    div.featured-work h2 { font-size: 26px; }
    div.featured-tile h3 { font-size: 18px; }
    div.featured-tile img { width: 100%; }
    div.featured-tile a { visibility: hidden; }
}

@media only screen and (max-width: 500px) {
    div.header-logo { width: 35%; }
    div.header-text { width: 65%; }
    div.header-text h1 { font-size: 36px; }
    div.header-text p { font-size: 12px; }
    div.featured-work h2 { font-size: 26px; }
    div.featured-tile h3 { font-size: 18px; }
    div.featured-tile img { width: 100%; }
    div.featured-tile a { visibility: hidden; }
}

@media only screen and (max-width: 400px) {
    div.header-logo { width: 40%; }
    div.header-text { width: 60%; }
    div.header-text h1 { font-size: 36px; }
    div.header-text p { font-size: 12px; }
    div.featured-work h2 { font-size: 30px; }
    div.featured-tile { width: 100%; }
    div.featured-tile h3 { font-size: 26px; }
    div.featured-tile a { width: 100%; }
    a.featured-work { visibility: hidden; }
}

