<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Portfolio </title>
    <link rel="stylesheet"
          href="https://normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link rel="stylesheet" href="style/portfolio.css">
  </head>

  <body>
    <div class="page container important">

      <!-- header -->
      <div class="header container important">
        <div class="header-text important">
          <h1 class="header-text"> Al Carruth </h1>
          <p class="header-text"> FRONT-END NINJA </p>
        </div>
        <div class="header-logo important">
          {header_logo}
        </div>
      </div>

      <hr>

      <!-- featured work -->
      <div class="featured-work important">
        <h2 class="featured-work"> Featured Work </h2>

        <div class="featured-tiles container important">
{featured_tiles}
        </div> <!-- featured-tiles -->

      </div> <!-- featured-work -->

      <hr>

      <div class="footer container important">
        <h3> Footer </h3>
      </div>

    </div> <!-- page -->

  </body>
</html>

