<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Portfolio </title>
    <link rel="stylesheet" href="https://normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link rel="stylesheet" href="style/portfolio.css">
</head>

<body>

    <header class="container important">
        <div id="header-text" class="important">
            <h1 id="header-h1"> Al Carruth </h1>
            <p id="header-p"> FRONT-END NINJA </p>
        </div>
        <img id="header-logo" class="important" alt="{header_logo_alt}" src="{header_logo_src}">
    </header>

    <hr>

    <main id="featured-work" class="container important">
        <h2 id="featured-work-h2"> Featured Work </h2>
{featured_tiles}

    </main>

    <hr>

    <footer class="container important">
        <h3> Footer </h3>
    </footer>

</body>

</html>

