/* colors.css */

* {
    border-color: transparent;
}

body {
    color: #ffd;
    background-color: #181825;
}

hr {
    /* match this to page color (above) */
    border-color: #ffd;
    background-color: transparent;
}

.featured-tile {
    color: #ccc;
    background-color: #bcb;
    border-color: #222;
}

.featured-tile:hover {
    background-color: #ffd;
}

.featured-img {
    border-color: #222;
    background-color: transparent;
}


