
/* style.css */

/* enable/disable border outlining */
/*
.important { 
    border: 2px solid red !important;
}
*/

@import url(https://fonts.googleapis.com/css?family=Kalam);

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kalam', cursive;
}

.container {
    display: flex;           /* Chrome 29+, IE 11+, Mozilla 28+ */
    display: -webkit-flex;   /* Safari */
    flex-wrap: wrap;
}

header {
    flex-direction: row;
    justify-content: space-between;
}

#header-h1 {
    text-align: left;
}

#header-p {
    font-weight: 400;
    text-align: left;
}

#featured-work {
    font-weight: 400;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

#featured-work-h2 {
    font-weight: 400;
    text-align: center;
}

.featured-tile {
    overflow: hidden;
}

.featured-tile-img {
    border-style: solid;
}

footer {
    overflow: auto;
    justify-content: center;
}


